{% extends 'base.html' %}
{% block titolo %}Benvenuti nel sito di Python{% endblock titolo %}
{% block titolo_pagina %}Pagina Index{% endblock titolo_pagina %}
{% block css_pagina %}
<style>
    a {
        text-decoration: none;
    }
    h4{
        color: rgb(0, 108, 147);
    }
    .corpo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    .autore{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8px;
        font-style: italic;
    }
</style>
{% endblock css_pagina %}

{% block contenuto %}
{% for post in posts  %}
    <h4><a href="{% url 'post-singolo' post.pk %}">{{ post.titolo }}</a></h4>
    <p class="autore"><b>Creato:</b> {{ post.data_ins }}</p>
    <p class="corpo">{{ post.corpo }}</p>
    <p class="autore"><b>Autore:</b> {{ post.autore.first_name }} {{ post.autore.last_name }} email: {{ post.autore.email }}</p>
    <hr>
{% endfor %}

{% endblock contenuto %}

