:root{
    --colore-testo: #fff;
    --font-titoli: font-family: 'Raleway', sans-serif;
    --font-paragrafi: font-family: 'Raleway', sans-serif;
    --main-bg-color: #EB2126;
    --main-bg-body: #4B4B6B;
    --colore-principale: #cacaca;
}