{% extends 'base.html' %}
{% block titolo %}Corsi{% endblock titolo %}
{% block titolo_pagina %}Pagina dei Corsi{% endblock titolo_pagina %}
{% block contenuto %}
{% for corso in corsi  %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ corso.titolo }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ corso.prezzo }}€</h6>
    <p class="card-text">{{ corso.descrizione }}</p>
    <a href="{% url 'corso_singolo' corso.pk %}" class="btn-primary">Più info</a>
  </div>
</div>
{% endfor %}
{% endblock contenuto %}